<h1>Editing plant</h1>

<%= render "form", plant: @plant %>

<br>

<div>
  <%= link_to "Show this plant", @plant, class: "btn btn-secondary btn-sm" %>
  <%= link_to "Back to plants", plants_path, class: "btn btn-secondary btn-sm"%>
</div>
